<section class="homePageContents">
 <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
   <form>
     <div class="showMe">Show Me</div>
      <input placeholder="Enter Username" ng-model="num">
     <div class="passPort">Passport</div>
  <a href="#/traveler/{{ num }}"><button class="myBtn">Access Granted</button></a>
</form>
</section>

        
<!-- <div>
  
  <div ng-controller = "HomeController">
    <div class="homecontainer">
      <h2>{{ title }}<span>{{ titletwo }}</span>{{ titlethree }}</h2>
      <h3>{{ titleTwo }}</h3>

      

      
    </div>
  </div>
</div> -->