<div class="passport">

  <nav class="top-bar" data-topbar role="navigation" ui-view="navbar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#/">Passport</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#/traveler"> obj.userName's Pages</a></li>
        <li><a href="#/location">Where I've Been</a></li>
      </ul>
    </section>
  </nav>

  <div class="center">
    <section class="container" ui-view="content"></section>
  </div>

  <footer id="footer" ui-view="footer">
  <div class="row">
      <div class="small-12 columns">
        <p class="slogan">Wanderlust Satisfied, No Airfare Necessary
        <p class="links">
          <a href="#">Home</a>
          <a href="#/location">Locations</a>
        </p>
        <p class="copywrite">Most Awesome Group Ever © 2015</p>
      </div>
    </div>
  </footer>

</div>