<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">Passport</a></h1>
    </li>
  </ul>


<section class="top-bar-section">
  <ul class="right">
    <li><a href="#/traveler"> obj.userName's Pages</a></li>
    <li><a href="#/location">Where I've Been</a></li>
  </ul>
</section>
</nav>



<aside ui-view="sidebar">LOOOCATION</aside>

<section class="container" ui-view="content">COOOOONTENT</section>

<footer class="footer ui-view="footer">
<div class="row">
    <div class="small-12 columns">
      <p class="links">
        <a href="#">Home</a>
        <a href="#">Blog</a>
        <a href="#">Pricing</a>
        <a href="#">About</a>
        <a href="#">Faq</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite">Most Awesome Group Ever © 2015</p>
    </div>
  </div>
</footer>
